
body{
    margin:0px;
}
image{
    position: absolute;
}
section{
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    display: block;
}
div.navigation{
    width: 100%;
    top: 0px;
    position: absolute;
    z-index: 10;
    height: 20%;
    display: flex;
    background-color: #6CBE5E;
}
div.navigation.left{
    padding: 20px;
}
div.imageData{
    
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.button1{
    
    padding-left:20px;
    padding-right: 20px;
}
.button2{
    padding-left: 50px;
    padding-right: 24px;
    
}
.button3{
    border:2px solid #414141;
    height: 40px;
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    
    align-content: center;
    font-size: large;
    color: #414141;
}
.left{
    color: black;
    
    padding: 20px 0px 100px 63px;
    font-size: x-large;
}
.left:hover{
    color: tan;
}
.right{
    margin-top: 10px;
    display: flex;
    margin-left: 20%;
    font-size: x-large;
}
h1{
   font-size: 60px;
}
.layer2{
    background-color:#F4F7F4;
    height: 640px;
}
.layer2background{
    background-color: #F4F7F4;
    height: 100%;

}
.card{
    position: absolute;
    top: 120;
    left: 29%;
    width: 240px;
    height: 320px;
    background-color:white;
    box-shadow:rgba(0, 0, 0, 0.4) 5px 5px 5px 5px;
    border-radius: 12px;
    
}
.card1{
    position: absolute;
    top: 120;
    left: 44%;
    width: 240px;
    height: 320px;
    background-color:white;
    box-shadow:rgba(0, 0, 0, 0.4) 5px 5px 5px 5px;
    border-radius: 12px;
    
}

.card2{
    position: absolute;
    top: 120;
    left: 59%;
    width: 240px;
    height: 320px;
    background-color:white;
    box-shadow:rgba(0, 0, 0, 0.4) 5px 5px 5px 5px;
    border-radius: 12px;
    
}

.layer3-right{
    
    align-content: center;
    text-align: center;
    
}
.layer2title{
    text-align: center;
    font-size: 40px;
    width: 100%;
}

.dataInformation{
    align-items: center;
    align-content: center;
    text-align: center;
    z-index: 100;
    position: absolute;
    margin-top: -20%;
    left: 40%;
}

hr{
    width: 100px;
    border: 4px solid #414141;
    border-radius: 2px;
    align-content: center;
    text-align: center;
    margin-left: 35%;
    margin-top: 20;
}